@font-face{
    font-family:'HendersonSansBasic';
    font-weight: 700;
    src: url('../font/HendersonSansBasicBold.otf');
}
@font-face{
    font-family: 'HendersonSansBasic';
    font-weight: 400;
    src: url('../font/HendersonSansBasicRegular.otf');
}
@font-face{
    font-family: 'HendersonSansBasic';
    font-weight: 600;
    src: url('../font/HendersonSansBasicSemiBold.otf');
}
@font-face{
    font-family: 'icomoon.woff';
    src: url('../font/icomoon.woff');
   
}